<h1><%- title %></h1>
<%- messages() %> 
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

  <section id="register-form">
    <h2 style="font-size:1.5rem;font-weight:bold;">Confirm Deletion - The deletion is <span style="color:red;font-size:1.5rem;font-weight:bold;">PERMANENT</span> </h2>
        <form class="delete-account" action="/account/delete-account" method="post">


            <label for="accountEmail">Make</label>
            <input type="email" readonly id="accountEmail"  name="account_email" value="<%- locals.account_email %>" >
    
            <label for="accountLastname">Model</label>
            <input type="text" readonly id="model" name="account_lastname" value="<%- locals.account_lastname %>" >

            <label for="accountFirstname">Year</label>
            <input type="text" readonly id="accountFirstname" value="<%- locals.account_firstname %>" >

            <button id="account-btn" type="submit">Delete Account</button>
            <input type="hidden" name="account_id" value="<%= locals.account_id %>">

        </form>
</section> 