<h1><%- title %></h1>
<%- messages() %> 
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

  <section id="register-form">
    <h2>ALL FIELDS ARE REQUIRED</h2>
        <form class="add-new-inventory" action="/inv/add-inventory" method="post">
            <label for="classification-select">Classification</label>
            <%- classifications %> <br><br>

            <label for="make">Make</label>
            <input type="text" placeholder="Ford" name="inv_make" minlength="3" value="<%- locals.inv_make %>" required >

            <label for="model">Model</label>
            <input type="text" placeholder="Mustang" name="inv_model" minlength="3" value="<%- locals.inv_model %>" required>

            <label for="year">Year:</label>
            <input type="number" placeholder="2001" name="inv_year" min="1900" max="2030" value="<%- locals.inv_year %>" required>

            <p><label for="description">Description</label></p>
            <textarea placeholder="You can get it in any color you want." name="inv_description" minlength="2" maxlength="150" rows="5" value="<%- locals.inv_description %>" required></textarea><br><br>
            
            <label for="image-path">Image Path</label>
            <input type="text" placeholder="/images/vehicles/no-image.png" name="inv_image" accept="image/vehicles/*" required>

            <label for="thumbnail-path">Thumbnail Path</label>
            <input type="text" placeholder="/images/vehicles/no-image-tn.png" name="inv_thumbnail" value="images/vehicles/no-image-tn.png" required>

            <label for="price">Price</label>
            <input type="number" placeholder="15000" name="inv_price" value="<%- locals.inv_price %>" required>

            <label for="miles">Miles</label>
            <input type="number" placeholder="100,000" name="inv_miles" value="<%- locals.inv_miles %>" required>

            <label for="color">Color</label>
            <input type="text" placeholder="Red" name="inv_color" value="<%- locals.inv_color %>" required>
    
            <button id="account-btn" type="submit">Add Vehicle</button>
        </form>
</section> 